header {
    text-align: center;
    color: white;
    background-color: #3C8CD6;
    height: 110px;
    padding-top: 1px;
    padding-bottom: 15px;
}

#addressList {
    width: 100%;
    height: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px;
}

#mainDiv {
    width: 60%;
    background-color: #E1E6F3;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 160px;
}

#listDiv {
    background-color: #F4F3F5;
    text-align: center;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.form td {
    text-align: left;
}